<div>
  <h3>Slot Biasa</h3>
    <slot></slot>
  <br>
  <h1>Silahkan Isi Formulir di Bawah Ini</h1>
  <form>

    <div id="form-header">

    </div>

    <div id="form-fields">

    </div>

    <div id="form-controls">

    </div>

    <div id="useful-links">
      <ul>
        <li><a href="#">Link pura pura dalam perahu</a></li>
        <li><a href="#">Link pura pura dalam perahu</a></li>
        <li><a href="#">Link pura pura dalam perahu</a></li>
        <li><a href="#">Link pura pura dalam perahu</a></li>
      </ul>
    </div>

  </form>
</div>
