<div>
  <h1>Menu Latihan Menengah</h1>
  <ul>
    <li>
      <a>
        <router-link v-bind:to="{name: 'ComputedProperties'}">Computed Properties</router-link>
      </a>
    </li>
    <li>
      <a>
        <router-link to="/latihan-menengah/css-dinamis">CSS Dinamis</router-link>
      </a>
    </li>
    <li>
      <a>
        <router-link v-bind:to="{name: 'ConditionalRendering'}">Conditional Rendering</router-link>
      </a>
    </li>
    <li>
      <a>
        <router-link v-bind:to="{name: 'PerulanganVfor'}">Perulangan dengan V-For</router-link>
      </a>
    </li>
  </ul>
</div>
