<div>
  <h1>Menu Latihan Tinggi</h1>
  <div>
    <ul>
      <li>
        <a>
          <router-link to="/latihan-tinggi-atas/latihan-refs-dom">Mengenal Refs</router-link>
        </a>
      </li>
      <li>
        <a>
          <router-link v-bind:to="{name: 'LatihanNestedComponent'}">Nested Components</router-link>
        </a>
      </li>
      <li>
        <a>
          <router-link to="/latihan-tinggi-atas/scoped-css-component">Scoped CSS</router-link>
        </a>
      </li>
      <li>
        <a>
          <router-link v-bind:to="{name: 'SampelNestedComponent'}">Sampel Nested Components</router-link>
        </a>
      </li>
      <li>
        <a>
          <router-link v-bind:to="{name: 'ParentComponentProps'}">Props Nested Component</router-link>
        </a>
      </li>
      <li>
        <a>
          <router-link v-bind:to="{name: 'ParentHomeEvents'}">Events Nested Component</router-link>
        </a>
      </li>
      <li>
        <a>
          <router-link to="/latihan-tinggi-atas/eventbus-component">Eventbus Component</router-link>
        </a>
      </li>
      <li>
        <a>
          <router-link v-bind:to="{name: 'SlotComponents'}">Slots Component</router-link>
        </a>
      </li>
      <li>
        <a>
          <router-link v-bind:to="{name: 'DinamicComponent'}">Dynamic Component</router-link>
        </a>
      </li>
    </ul>
  </div>
</div>
