<div>
  <!-- <div v-temaKolom:column = "'narrow'" id="show-blogs"> -->
  <div v-temaKolom:column="nilaiTema" id="show-blogs">
    <h1>Daftar Artikel Blog</h1>
    <div class="ui input input-class">
        <input type="text" v-model="katakuncipencarian" v-bind:placeholder="hintkatakunci">
    </div>
    <div v-for="artikel in listFiltered" class="single-blog" v-on:click="navigasiDetailBlog(artikel)">
      <!-- <router-link v-bind:to="'/blogs-vuejs/detail-artikel/' + artikel.id"></router-link> -->
      <h2 v-warnawarni>{{artikel.judul | kapitalinhuruf}}</h2>
      <article>{{artikel.konten | snippets}}</article>
    </div>
  </div>
</div>
