<div>
    <h1>
      Menu Latihan Dasar
    </h1>
    <ul>
      <li>
        <a>
          <router-link to="/latihan-dasar/vue-instances">Vue Instances</router-link>
        </a>
      </li>
      <li>
        <a>
          <router-link to="/latihan-dasar/vue-data-method">
          Vue Data dan Methods
          </router-link>
        </a>
      </li>
      <li>
        <a>
          <router-link v-bind:to="{name: 'VueDataBinding'}">Vue Data Binding</router-link>
        </a>
      </li>
      <li>
        <a>
          <router-link to="/latihan-dasar/vue-event-handling">
          Vue Event Handling
          </router-link>
        </a>
      </li>
    </ul>
  </div>
